SECRET_KEY=django-insecure-186##40)m_#+#b2f9syv#9f(ortviff)*e6ow$t-g5d!kt$)8f
DJANGO_SETTINGS_MODULE=config.settings.production

MEDIA_DIR=./media
MEDIA_IN=./mar-did/IN/
MEDIA_OUT=./mar-did/SRC/

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST='localhost'
EMAIL_PORT=25
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL='mar-did.do-not-reply@dfo-mpo.gc.ca'

EMAIL_SSL_CERTFILE=/path/to/certificate.pem
EMAIL_SSL_KEYFILE=/path/to/privatekey.pem

BASE_BACKEND=django.db.backends.postgresql
DATABASE_HOST=localhost
DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_PORT=5432