{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <form class="mb-2" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' id="form_id_mission">
        {% crispy mission_form %}
    </form>

    {% if object %}
        {# We need to include the leg form here if the object is a mission #}
        <ul class="nav nav-tabs" id="missionTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="mission_tabs_legs" data-bs-toggle="tab" data-bs-target="#mission_legs" type="button" role="tab" aria-controls="mission_legs" aria-selected="true">
                    {% trans 'Mission Legs' %}
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="mission_tabs_datasets" data-bs-toggle="tab" data-bs-target="#mission_datasets" type="button" role="tab" aria-controls="mission_datasets">
                    {% trans 'Datasets' %}
                </button>
            </li>
        </ul>

        <div class="tab-content" id="mission_tabs_legs">
            <div class="tab-pane fade show active" id="mission_legs" role="tabpanel" aria-labelledby="mission_tabs_legs">
                <form class="mb-2" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' id="form_id_mission_legs">
                    {% crispy mission_legs_form %}

                    {# and print the table for existing legs object.legs.all #}
                    {% include 'core/partials/table_mission_legs.html' with mission=object %}
                </form>
            </div>

            <div class="tab-pane fade" id="mission_datasets" role="tabpanel" aria-labelledby="mission_tabs_datasets">
                TEST
            </div>
        </div>

        {# Todo: include a form here to add Data Types to the mission #}
{#        {% crispy mission_datatype_form %}#}
        {# Todo: include a list of datatypes provided for this misison #}
{#        {% include 'core/partials/table_data_list.html' with cruise=object%}#}
    {% endif %}
{% endblock %}

