{% load i18n %}

{% if user.is_authenticated %}
<form id="form_cruise_data_form_area"
      hx-get="{% url 'core:get_expected_data_form' cruise.id %}"
      hx-trigger="load, update_list from:body" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

</form>
{% endif %}
<form id="form_cruise_data_table_area" {% if user.is_authenticated %}hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'{% endif %}>
<div class="table-responsive" style="max-height: 400px;">
<table id="table_id_cruise_list" class="table table-striped table-sm" hx-get="{% url 'core:list_data' cruise.pk %}" hx-trigger="update_list from:body" hx-swap="innerHTML">
    <thead class="sticky-top bg-white">
        <tr>
            <th style="width: 2%; white-space: nowrap;">
            </th>
            <th style="white-space: nowrap;">{% trans 'Data Type' %}</th>
            <th style="white-space: nowrap;">{% trans 'Status' %}</th>
            <th style="white-space: nowrap;">{% trans 'File Count' %}</th>
        </tr>
    </thead>
    <tbody>
    {% for data in cruise.datasets.all %}
    <tr id="tr_id_cruise_data_{{data.pk}}">
        <th style="white-space: nowrap;">
            <a class="btn btn-sm btn-outline-dark" href="{% url 'core:data_submission_view' data.pk %}" title="{% trans 'View and update associated files' %}"><span class="bi bi-eye"></span></a>
            {% if user.is_authenticated and data.files.count <= 0 %}
                <a class="btn btn-sm btn-danger ms-2" hx-confirm="{% trans 'Are you sure?' %}" hx-target="#tr_id_cruise_data_{{data.pk}}" hx-post="{% url 'core:remove_data' data.pk %}" title="{% trans 'Remove data type from Cruise' %}"><span class="bi bi-dash-square"></span></a>
            {% endif %}
        </th>
        <td>{{ data.data_type }}</td>
        <td><button class="btn btn-sm {{data.status.get_button_colour}}" title="{{data.status.description}}">{{ data.status.name }}</button></td>
        <td>{{ data.files.count }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
</div>
</form>