{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <span class="mb-2 h4">{{ dataset.cruise.name }} - {% if dataset.cruise.descriptor %}{{ dataset.cruise.descriptor }}{% else %}{% trans "Missing Descriptor" %}{% endif %} - {% trans 'Dataset Status' %} : <span id="span_id_submission_status" hx-select-oob="true" class="btn btn-sm {{dataset.status.get_button_colour}} text-black">{{ dataset.status.name }}</span></span>
    {% if user.is_authenticated and data_form %}
    <form id="form_id_data" class="mb-2" enctype="multipart/form-data"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-encoding="multipart/form-data">

        {% crispy data_form %}
        <div id="div_id_files" class="mb-3">
            <label for="id_files" class="form-label">
                Upload Files
            </label>
            <div><input type="file" name="files" class="form-control" multiple="" id="id_files"> </div>
        </div>
        <button id="btn_id_form_submit" type="button" hx-swap="none"
                hx-post="{% url 'core:submit_data' dataset.id 0 %}" class="btn btn-primary"
                title="{% trans 'Save Instrument selections and upload datafiles if attached.' %}

{% trans 'Mark the dataset as expected if more datafiles are required' %}">
            <span class="bi bi-check-square me-2"></span>{% trans 'Save, Mark Expected' %}
        </button>
        <button id="btn_id_form_submit_lab" type="button" hx-swap="none"
                hx-post="{% url 'core:submit_data' dataset.id 1 %}" class="btn btn-primary"
                title="{% trans 'Save Instrument selections and upload datafiles if attached.' %}

{% trans 'Mark a dataset as being with the lab for post cruise processing' %}">
            <span class="bi bi-check-square me-2"></span>{% trans 'Save, Mark sent to Lab' %}
        </button>
        <button id="btn_id_form_submit_notifications" type="button" hx-swap="none"
                hx-post="{% url 'core:submit_data' dataset.id 2 %}" class="btn btn-primary"
                title="{% trans 'Save Instrument selections and upload datafiles if attached.' %}

{% trans 'Mark a dataset submitted to send notifications to stakeholders that data is ready for processing and/or loading' %}">
            <span class="bi bi-check-square me-2"></span>{% trans 'Save, Mark Submitted' %}
        </button>
    </form>
    {% endif %}
    <div id="div_id_file_list" class="table-responsive" style="max-height: 400px; overflow-y: auto;" hx-get="{% url 'core:update_file_list' dataset.pk %}" hx-trigger="update_file_list from:body">
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>{% trans 'File Name' %}</th>
                <th>{% trans 'File Location' %}</th>
                <th>{% trans 'Submitted By' %}</th>
                <th>{% trans 'Submitted Date' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for file in dataset.files.all %}
                <tr>
                    <td>{{ file.file_name }}</td>
                    <td>{{ file.file }}</td>
                    <td>{{ file.submitted_by.last_name }}, {{ file.submitted_by.first_name }}</td>
                    <td>{{ file.submitted_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

