{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    {% if user.is_authenticated %}
    <a class="col-3 text-decoration-none" href="">
        <div class="card">
            <div class="card-header">
                {% if user.processing.all.count > 0 %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ user.processing.all.count }}
                    <span class="visually-hidden">elements in workqueue</span>
                </span>
                {% endif %}
                <div class="card-title text-center"><h4>{% trans 'Work Queue' %}</h4></div>
            </div>
            <div class="card-body">
                <div class="fill-card-body"><i class="bi bi-laptop" ></i></div>
            </div>
        </div>
    </a>
    <a class="col-3 text-decoration-none" href="{% url 'core:dataset_status_view' %}">
        <div class="card">
            <div class="card-header">
                <div class="row position-absolute top-0 start-100 translate-middle">
                     {% if dataset_submitted > 0 %}
                    <span class="col badge rounded-pill bg-warning">
                        {{ dataset_submitted }}
                        <span class="visually-hidden">submitted datasets</span>
                    </span>
                    {% endif %}
                    {% if dataset_assigned > 0 %}
                    <span class="col badge rounded-pill bg-success">
                        {{ dataset_assigned }}
                        <span class="visually-hidden">assigned datasets</span>
                    </span>
                    {% endif %}
                </div>
               <div class="card-title text-center"><h4>{% trans 'Dataset Status' %}</h4></div>
            </div>
            <div class="card-body">
                <div class="fill-card-body"><i class="bi bi-list" ></i></div>
            </div>
        </div>
    </a>
    {% endif %}
    <a class="col-3 text-decoration-none" href="{% url 'core:cruise_view' %}">
        <div class="card">
            <div class="card-header">
                <div class="card-title text-center"><span class="h4">{% trans 'Add/View Cruises' %}</span></div>
            </div>
            <div class="card-body">
                <div class="fill-card-body"><i class="bi bi-life-preserver" ></i></div>
            </div>
        </div>
    </a>
    <a class="col-3 text-decoration-none" href="">
        <div class="card">
            <div class="card-header">
                <div class="card-title text-center"><h4>{% trans 'Data Discovery' %}</h4></div>
            </div>
            <div class="card-body">
                <div class="fill-card-body"><i class="bi bi-search" ></i></div>
            </div>
        </div>
    </a>
</div>
{% endblock %}